<section class="bg-black">
  <div class="container">
    <header class="header inner-container">
      <div class="top-header">
        <div class="logo">
          <img src="./logo-1x.svg" alt="Evoke Technologies" />
        </div>
        <nav class="tabs">
          <button
            [class.active]="activeTab === 'user-experience'"
            (click)="onTabChange('user-experience')"
            aria-label="User Experience Tab"
          >
            User Experience
          </button>
          <button
            [class.active]="activeTab === 'user-interface'"
            (click)="onTabChange('user-interface')"
            aria-label="User Interface Tab"
          >
            User Interface
          </button>
        </nav>
        <div class="right-sign-up">
          <a class="search">
            <img src="search.svg" alt="search icon" title="search" />
          </a>
          <a class="signup" href="/signup" aria-label="Sign Up">
            Sign Up
            <img src="arrow-up.svg" alt="arrow up" title="arrow" />
          </a>
        </div>
      </div>
    </header>
    <div class="banner">
      <h1>Innovate. Collaborate. Elevate</h1>
      <p>Discover a consolidated source of UI/UX inspiration, best <br>practices and resources</p>
    </div>
  </div>
</section>

<!--User Experience-->
      <div *ngIf="activeTab === 'user-experience'" class="user-experience">
        <section class="bg-grey">
          <div class="container">
            <div class="tab-content inner-container">
        <div class="carousel-section">
          <h2 class="heading-split"><span>Latest</span> Innovations</h2>
          <app-carousel [items]="userExperienceItems" [carouselId]="'ux-innovations'"></app-carousel>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-white">
    <div class="container">
      <div class="tab-content inner-container">
        <div class="carousel-section">
          <h2 class="heading-split"><span>UI Resources</span> Essentials UI Repository</h2>
          <app-carousel [items]="userInterfaceItems" [carouselId]="'ui-repository'"></app-carousel>
        </div>
      </div>
    </div> 
</section>
  </div>
<!--User Interface-->

       <div *ngIf="activeTab === 'user-interface'" class="user-interface">
        <section class="bg-grey">
          <div class="container">
            <div class="tab-content inner-container">
        <div class="carousel-section">
          <h2 class="heading-split"><span>UI Resources</span> Essentials UI Repository</h2>
          <app-carousel [items]="userInterfaceItems" [carouselId]="'ui-repository'"></app-carousel>
        </div>
      </div>
      </div>
    </section>
    </div>
  
 

<footer class="footer">
  <div class="container">
    <p>
      For queries & suggestions, write to us<br />
      <a href="mailto:uiuxpractice@evoketechnologies.com">uiuxpractice-evoketechnologies.com</a>
      <img src="assets/arrow-up.svg" alt="arrow up" title="arrow" />
    </p>
  </div>
</footer>