<section class="bg-black">
  <div class="container">
    <header class="header inner-container">
      <div class="top-header">
        <div class="logo">
          <img src="./logo-1x.svg" alt="Evoke Technologies" />
        </div>
        <nav class="tabs">
          <button
            [class.active]="activeTab === 'user-experience'"
            (click)="onTabChange('user-experience')"
            aria-label="User Experience Tab"
          >
            User Experience
          </button>
          <button
            [class.active]="activeTab === 'user-interface'"
            (click)="onTabChange('user-interface')"
            aria-label="User Interface Tab"
          >
            User Interface
          </button>
        </nav>
        <div class="right-sign-up">
          <!-- <a class="search">
            <img src="search.svg" alt="search icon" title="search" />
          </a> -->
          <a class="signup" href="/signup" aria-label="Sign Up">
            <!-- Sign Up
            <img src="arrow-up.svg" alt="arrow up" title="arrow" /> -->
          </a>
        </div> 
      </div>
    </header>
    <div id="banner" class="banner">
      <h1>Innovate. Collaborate. Elevate</h1>
      <p>Discover a consolidated source of UI/UX inspiration, best <br>practices and resources.</p>
    </div>
  </div>
</section>




<!--User Experience-->
      <div id="test1" *ngIf="activeTab === 'user-experience'" class="user-experience">

<div class="tabs-sticky" *ngIf="showStickyTabs">
   <div class="container">
  <div class="tab-buttons-scroll center-tab" #tabScrollContainer1>
 <button class="active-tab"
  *ngFor="let tab of tabList"
  (click)="onStickyTabClick(tab.id, 'tab1')"
  [class.active-tab]="activeTab1 === tab.id"
>
  {{ tab.label }}
</button>
  </div>
  </div>

</div>


        <section id="latest-trends" class="latest-trends bg-white">
          <div class="container">
            <div class="tab-content inner-container">
        <div class="carousel-section">
          <h2 class="heading-split"> Latest Trends</h2>
          <app-carousel [items]="latestTrends" [carouselId]="'latest-trends'"></app-carousel>
        </div>
      </div>
    </div>
  </section>

  <section id="ux-resources" class="bg-grey ">
    <div class="container">
      <div class="tab-content inner-container">
        <div class="carousel-section">
          <h2 class="heading-split">UX Resources</h2>
          <app-carousel [items]="userInterfaceItems" [carouselId]="'ui-repository'"></app-carousel>
        </div>
      </div>
    </div> 
</section>
<section id="brand-design-hub" class="bg-white">
  <div class="container">
    <div class="tab-content inner-container">
      <div class="carousel-section">
        <h2 class="heading-split">Brand & Design Hub</h2>
        <app-carousel [items]="BrandDesignHub" [carouselId]="'BrandDesign-Hub'"></app-carousel>
      </div>
    </div>
  </div> 
</section>

<section id="ux-performance-log" class="bg-grey">
  <div class="container">
    <div class="tab-content inner-container">
      <div class="carousel-section">
        <h2 class="heading-split">UX Performance Log</h2>
        <app-carousel [items]="userInterfaceItems" [carouselId]="'ui-repository'"></app-carousel>
      </div>
    </div>
  </div> 
</section>
<section id="ux-documents" class="bg-white">
  <div class="container">
    <div class="tab-content inner-container">
      <div class="carousel-section">
        <h2 class="heading-split">UX Documents</h2>
        <app-carousel [items]="userInterfaceItems" [carouselId]="'ui-repository'"></app-carousel>
      </div>
    </div>
  </div> 
</section>


<section id="monthly-ux-meetings" class="bg-grey">
  <div class="container">
    <div class="tab-content inner-container">
      <div class="carousel-section">
        <h2 class="heading-split">Monthly UX Meetings</h2>
        <app-carousel [items]="userInterfaceItems" [carouselId]="'ui-repository'"></app-carousel>
      </div>
    </div>
  </div> 
</section>
  </div>
<!--User Interface-->

       <div *ngIf="activeTab === 'user-interface'" class="user-interface">

       <div class="tabs-sticky" *ngIf="showStickyTabs">
         <div class="container">
  <div class="tab-buttons-scroll" #tabScrollContainer2>
 <button
  *ngFor="let tab of secondTabList"
  (click)="onStickyTabClick(tab.id, 'tab2')"
  [class.active-tab]="activeTab2 === tab.id"
>
  {{ tab.label }}
</button>
  </div>
  <div class="right-arrow">
    <button class="scroll-btn left-btn-arrow" (click)="scrollTabs('left', 'tab2')"><img src="./arrow-left.svg" alt="arrow" width="8px"  title="Arrow left"></button>
    <button class="scroll-btn rotate-btn right-btn-arrow" (click)="scrollTabs('right', 'tab2')"><img src="./arrow-left.svg" alt="arrow" width="8px"  title="Arrow right"></button>
  </div>
  </div>
</div>

        <section  class="bg-white">
          <div class="container">
            <div class="tab-content inner-container">
        <div class="carousel-section">
          <h2 id="test1"  class="heading-split">Best Practices</h2>
          <app-carousel [items]="BestPractices" [carouselId]="'ui-repository'"></app-carousel>          
        </div>
      </div>
      </div>
    </section>
    <section  class="bg-grey">
      <div class="container">
        <div class="tab-content inner-container">
          <div class="carousel-section">
            <h2 id="test2" class="heading-split">Code Review Handbook</h2>
            <app-carousel [items]="CodeReview" [carouselId]="'ui-reposi'"></app-carousel>
          </div>
        </div>
      </div> 
  </section>
    <section  class="bg-white">
      <div class="container">
        <div class="tab-content inner-container">
          <div class="carousel-section">
            <h2 id="test3" class="heading-split">Reusable Components</h2>
           <app-carousel [items]="ReusableComponents " [carouselId]="'ux-innovations'"></app-carousel>
          </div>
        </div>
      </div> 
  </section>

  <section  class="bg-grey">
    <div class="container">
      <div class="tab-content inner-container">
        <div class="carousel-section">
          <h2 id="test4" class="heading-split"> New Features</h2>
          <app-carousel [items]="NewFeatures" [carouselId]="'new-features'"></app-carousel>
        </div>
      </div>
    </div> 
</section>
<section  class="bg-white">
  <div class="container">
    <div class="tab-content inner-container">
      <div class="carousel-section">
        <h2 id="test5" class="heading-split">Version Upgrade</h2>
        <app-carousel [items]="VersionUpgrade" [carouselId]="'Version-Upgrade'"></app-carousel>
      </div>
    </div>
  </div> 
</section>

<!-- <section id="test6" class="bg-grey">
  <div class="container">
    <div class="tab-content inner-container">
      <div class="carousel-section">
        <h2 class="heading-split">Design Patterns </h2>
        <app-carousel [items]="DesignPatterns" [carouselId]="'d-patterns'"></app-carousel>
      </div>
    </div>
  </div> 
</section> -->

<section  class="bg-grey">
  <div class="container">
    <div class="tab-content inner-container">
      <div class="carousel-section">
        <h2 id="test7" class="heading-split">Unit Testing</h2>
        <app-carousel [items]="UnitTestingDocuments" [carouselId]="'UnitTestin'"></app-carousel>
      </div>
    </div>
  </div> 
</section>

<section  class="bg-white">
  <div class="container">
    <div class="tab-content inner-container">
      <div class="carousel-section">
        <h2 id="test8" class="heading-split">Training Session Recordings</h2>
        <app-carousel [items]="TrainingSession" [carouselId]="'Training-Session'"></app-carousel>
      </div>
    </div>
  </div> 
</section>

<section class="bg-grey">
  <div class="container">
    <div class="tab-content inner-container">
      <div class="carousel-section">
        <h2  id="test9" class="heading-split">SonarQube configuration</h2>
        <app-carousel [items]="SonarQubeconfiguration" [carouselId]="'SonarQube'"></app-carousel>
      </div>
    </div>
  </div> 
</section>

<!-- <section id="test10" class="bg-grey">
  <div class="container">
    <div class="tab-content inner-container">
      <div class="carousel-section">
        <h2 class="heading-split">CI-CD Pipeline</h2>
        <app-carousel [items]="CodePipeline" [carouselId]="'Code-Pipeline'"></app-carousel>
      </div>
    </div>
  </div> 
</section> -->



  
    </div>

<footer class="footer">
  <div class="container">
    <!-- <p>
      For queries & suggestions, write to us<br />
      uiuxpractice-evoketechnologies.com</a>
      <img src="./arrow-up.svg" alt="arrow up" title="arrow" />
    </p> -->

   <p> Copyright © Evoke Technologies | <a href="www.evoketechnologies.com">www.evoketechnologies.com    </a> </p>

   <p>  For any inquiries, please contact us at <a href="mailto:uiuxpractice@evoketechnologies.com">uiuxpractice&#64;evoketechnologies.com    </a></p>
  </div>
</footer>
<!-- <img src="./arrow-up.svg" alt="arrow up" title="arrow" /> -->