<section class="bg-black">
  <div class="container">
    <header class="header inner-container">
      <div class="top-header">
        <div class="logo">
          <img src="./logo-1x.svg" alt="Evoke Technologies" />
        </div>
        <nav class="tabs">
          <button
            [class.active]="activeTab === 'user-experience'"
            (click)="onTabChange('user-experience')"
            aria-label="User Experience Tab"
          >
            User Experience
          </button>
          <button
            [class.active]="activeTab === 'user-interface'"
            (click)="onTabChange('user-interface')"
            aria-label="User Interface Tab"
          >
            User Interface
          </button>
        </nav>
        <div class="right-sign-up">
          <!-- <a class="search">
            <img src="search.svg" alt="search icon" title="search" />
          </a> -->
          <a class="signup" href="/signup" aria-label="Sign Up">
            <!-- Sign Up
            <img src="arrow-up.svg" alt="arrow up" title="arrow" /> -->
          </a>
        </div> 
      </div>
    </header>
    <div class="banner">
      <h1>Innovate. Collaborate. Elevate</h1>
      <p>Discover a consolidated source of UI/UX inspiration, best <br>practices and resources.</p>
    </div>
  </div>
</section>

<!--User Experience-->
      <div *ngIf="activeTab === 'user-experience'" class="user-experience">
        <section class="bg-grey">
          <div class="container">
            <div class="tab-content inner-container">
        <div class="carousel-section">
          <h2 class="heading-split"><span>Latest</span> Latest Trends</h2>
          <app-carousel [items]="userExperienceItems" [carouselId]="'ux-innovations'"></app-carousel>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-white">
    <div class="container">
      <div class="tab-content inner-container">
        <div class="carousel-section">
          <h2 class="heading-split"><span>UX Latest</span>UX Resources</h2>
          <app-carousel [items]="userInterfaceItems" [carouselId]="'ui-repository'"></app-carousel>
        </div>
      </div>
    </div> 
</section>
<section class="bg-grey">
  <div class="container">
    <div class="tab-content inner-container">
      <div class="carousel-section">
        <h2 class="heading-split"><span>UX Latest</span>Brand & Design Hub</h2>
        <app-carousel [items]="userInterfaceItems" [carouselId]="'ui-repository'"></app-carousel>
      </div>
    </div>
  </div> 
</section>
<section class="bg-white">
  <div class="container">
    <div class="tab-content inner-container">
      <div class="carousel-section">
        <h2 class="heading-split"><span>UX Latest</span>UX Documents</h2>
        <app-carousel [items]="userInterfaceItems" [carouselId]="'ui-repository'"></app-carousel>
      </div>
    </div>
  </div> 
</section>
<section class="bg-grey">
  <div class="container">
    <div class="tab-content inner-container">
      <div class="carousel-section">
        <h2 class="heading-split"><span>UX Latest</span>Monthly UX Meetings</h2>
        <app-carousel [items]="userInterfaceItems" [carouselId]="'ui-repository'"></app-carousel>
      </div>
    </div>
  </div> 
</section>
  </div>
<!--User Interface-->

       <div *ngIf="activeTab === 'user-interface'" class="user-interface">
        <section class="bg-white">
          <div class="container">
            <div class="tab-content inner-container">
        <div class="carousel-section">
          <h2 class="heading-split"><span>UI Frontend</span>Best practices</h2>
          <app-carousel [items]="BestPractices" [carouselId]="'ui-repository'"></app-carousel>
          
        </div>
      </div>
      </div>
    </section>
    <section class="bg-grey">
      <div class="container">
        <div class="tab-content inner-container">
          <div class="carousel-section">
            <h2 class="heading-split"><span>Best Practices</span>Code Review Documents</h2>
            <app-carousel [items]="CodeReview" [carouselId]="'ui-reposi'"></app-carousel>
          </div>
        </div>
      </div> 
  </section>
    <section class="bg-white">
      <div class="container">
        <div class="tab-content inner-container">
          <div class="carousel-section">
            <h2 class="heading-split"><span>Frontend </span> Reusable Components</h2>
           <app-carousel [items]="ReusableComponents " [carouselId]="'ux-innovations'"></app-carousel>
          </div>
        </div>
      </div> 
  </section>

  <section class="bg-grey">
    <div class="container">
      <div class="tab-content inner-container">
        <div class="carousel-section">
          <h2 class="heading-split"><span>Frontend </span> New Features</h2>
          <app-carousel [items]="NewFeatures" [carouselId]="'new-features'"></app-carousel>
        </div>
      </div>
    </div> 
</section>
<section class="bg-white">
  <div class="container">
    <div class="tab-content inner-container">
      <div class="carousel-section">
        <h2 class="heading-split"><span>Frontend </span>Version Upgrade Process</h2>
        <app-carousel [items]="VersionUpgrade" [carouselId]="'Version-Upgrade'"></app-carousel>
      </div>
    </div>
  </div> 
</section>

<section class="bg-grey">
  <div class="container">
    <div class="tab-content inner-container">
      <div class="carousel-section">
        <h2 class="heading-split"><span>Frontend </span>Design Patterns </h2>
        <app-carousel [items]="Components2" [carouselId]="'d-patterns'"></app-carousel>
      </div>
    </div>
  </div> 
</section>

<section class="bg-white">
  <div class="container">
    <div class="tab-content inner-container">
      <div class="carousel-section">
        <h2 class="heading-split"><span>Frontend </span>Unit Testing Documents </h2>
        <app-carousel [items]="UnitTestingDocuments" [carouselId]="'UnitTestin'"></app-carousel>
      </div>
    </div>
  </div> 
</section>

<section class="bg-grey">
  <div class="container">
    <div class="tab-content inner-container">
      <div class="carousel-section">
        <h2 class="heading-split"><span>Frontend </span>Training Session Recordings</h2>
        <app-carousel [items]="Components2" [carouselId]="'t-d-recordings'"></app-carousel>
      </div>
    </div>
  </div> 
</section>

<section class="bg-white">
  <div class="container">
    <div class="tab-content inner-container">
      <div class="carousel-section">
        <h2 class="heading-split"><span>Frontend </span>SonarQube configuration</h2>
        <app-carousel [items]="SonarQubeconfiguration" [carouselId]="'SonarQube'"></app-carousel>
      </div>
    </div>
  </div> 
</section>

<section class="bg-grey">
  <div class="container">
    <div class="tab-content inner-container">
      <div class="carousel-section">
        <h2 class="heading-split"><span>Frontend </span>CI-CD AWS Code Pipeline</h2>
        <app-carousel [items]="CodePipeline" [carouselId]="'Code-Pipeline'"></app-carousel>
      </div>
    </div>
  </div> 
</section>



  
    </div>

<footer class="footer">
  <div class="container">
    <!-- <p>
      For queries & suggestions, write to us<br />
      uiuxpractice-evoketechnologies.com</a>
      <img src="./arrow-up.svg" alt="arrow up" title="arrow" />
    </p> -->

   <p> Copyright © Evoke Technologies | <a href="www.evoketechnologies.com">www.evoketechnologies.com    <img src="./arrow-up.svg" alt="arrow up" title="arrow" /></a> </p>

   <p>  For any inquiries, please contact us at <a href="mailto:uiuxpractice@evoketechnologies.com">uiuxpractice&#64;evoketechnologies.com    <img src="./arrow-up.svg" alt="arrow up" title="arrow" /></a></p>
  </div>
</footer>